*{
    font-family: 'Red Hat Mono', monospace;
    color: #fff
}
body{
    margin: 0;
    background-color: #96c8fb;
    background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);;
}
.cajaSuprema{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: 125px repeat(5,50px);
    background-color: #646464;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 15px 10px 0px 5px #00000020;
}
button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 50%;
    font-size: 1.5em;
    border: none;
    background-color: #646464;
    box-shadow: 1px 1px 2px 3px #00000060, -1px -1px 5px 7px #727272c9;
}
button:active{
    background-color: #4b4b4b;
}
button:focus{
    outline: none;
}
.col-2{
    grid-column: span 2;
}
.pantalla{
    grid-column: 1 / -1;
    padding: 4px;
    display: flex;
    margin: 1px 1px 9px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #1f1c1c;
    border-radius: 20%;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 4px #00000083;
}

/*Esto estará al revés, ni idea ya lo cambie dos veces*/
#valorEntrada{
    font-size: 1em;
}

#valorSalida{
    font-size: 1.5em;
}

@media (orientation:portrait) and (max-width: 500px){

}

@media (orientation:landscape) and (max-width: 500px){
body {transform: rotate(90deg);
}}

@media (mind-width: 600px){
body {transform: rotate(90deg);
}}